<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Formas with the survey form builder</title>
  <link rel="stylesheet" href="/css/create.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/12dd4f64fc.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="form_header">
      <div class="left_nav">
       <div class="logo">
         <img src="assets/images/logo/logo-icon.svg" />
       </div>
       <div class="flex-form_details">
         <input name="form_name" placeholder="Enter Form Name" value="Untitled form" class="Form_name"/>
         <div class="star">
         </div>
       </div>
      </div>
      <h1>Create Forms</h1>
      <div class="right_nav">
        <div class="Action_Icon_nav">
        <i class="fa-solid fa-eye i-big" title="Preview"></i>
        </div>
        <button name="save" id="save" class="btn btn-primary lg-btn">Save</button>
      </div>

  </div>
 
  <div class="main_conatinr">
    <div class="conatent">
      <div class="header">
        <textarea name="form_title" class="inp-lg title" title="Title">Untitled form</textarea>
       <textarea name="form_description" rows="2" placeholder="Form discription" class="description resize" title="Description"></textarea>
      </div> 
      
      <div class="main_area">
        <div class="create_new_area">
          <div class="grid_container">
          <textarea name="Question-1" class="inp-md">Untitled Question</textarea>
          
          <div class="other_fuction">
            <div class="add_image">
                <i class="fa-solid fa-image fade"></i>
            </div>
            <div class="compunents_dropdown">
              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select>
            </div>
          </div>
          </div>
          <div class="select_opions" id="select_opions">
              <div class="new_element">  
              <input name="question-1_radio1" type="radio" />
              <textarea name="question-1_radio1_text" class="inp-st">Untitled Question</textarea>
              <div class="add_image">
                  <i class="fa-solid fa-image fade"></i>
              </div>
              <div class="delete_btn"><i class="fa-solid fa-xmark fade"></i></div> 
              <div class="new_opion"> 
                  <div class="Add_new_btn">
                      <a style="cursor:pointer;" class="new_opion_btn">Add</a>
                      
                </div>
              </div>
              </div>
              <div class="elemnt"></div>
  
        </div>
        <div class="add_compenents">
          <div class="new">
            n
          </div>
          <div class="duplicate">
              d
            </div>
           
        </div>
        
      </div> 
      
    </div>
    <div class="create_new_area">
      <div class="grid_container">
      <textarea name="Question-2" class="inp-md">Untitled Question</textarea>
      
      <div class="other_fuction">
        <div class="add_image">
            <i class="fa-solid fa-image fade"></i>
        </div>
        <div class="compunents_dropdown">
          <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
        </div>
      </div>
      </div>
      <div class="select_opions" id="select_opions">
          <div class="new_element">  
          <input name="question-2_radio1" type="radio" />
          <textarea name="question-2_radio1_text" class="inp-st">Untitled Question</textarea>
          <div class="add_image">
              <i class="fa-solid fa-image fade"></i>
          </div>
          <div class="delete_btn"><i class="fa-solid fa-xmark fade"></i></div> 
          <div class="new_opion"> 
              <div class="Add_new_btn">
                  <a style="cursor:pointer;" class="new_opion_btn">Add</a>
                  
            </div>
          </div>
          </div>
          <div class="elemnt"></div>

    </div>
    <div class="add_compenents">
      <div class="new">
        n
      </div>
      <div class="duplicate">
          d
        </div>
       
    </div>
    
  </div> 
  </div> 


</body>
<script src="js/form_save.js"></script>
<script src="js/creat_te.js"></script>
<script src="js/element.js"></script>
</html>